/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
  min-height: 100vh;
	margin: 0;
	color: #3a3a3a;
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.6;
}

h2 {
	font-size: 1.25em;
}
h3 {
	font-size: .75em;
}

ul {
  margin: 0;
  padding: 0;
	list-style: none;
}
p {
	margin-bottom: 1.8em;
	font-size: .95em;
}
a {
	text-decoration: none;
	color: #0a0a0a;
}
img {
	max-width: 100%;
	padding: 20px;
}
a:link img {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=60);
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
	color: #0a0a0a;
	font-size: 1.75em;
	padding-left: 20px;
	padding-right: 20px;
}
.name a:hover {
	color: #9c9c9c;
}
.main-nav {
	margin-top: 10px;
}
.main-header,
.main-footer,
.container {
	display: block;
	text-align: center;
}
.container {
	flex-direction: column;
}
.main-nav a:hover {
	color: #9c9c9c;
}

/* =================================
  Drop down menu
==================================== */

.dropbtn {
		padding: 1px 30px;
		text-transform: uppercase;
		color: #0a0a0a;
		border: none;
		background-color: inherit;
		font-family: 'Fira Sans', sans-serif;
		font-size: 1em;
}
.dropbtn a:hover {
		color: #9c9c9c;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    z-index: 1;
		right: 0;
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
		left: 0;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover {background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .35em;
	padding-bottom: 2em;
}

.container {
  display: flex;
	flex: 1 0 auto;
	justify-content: center;
}

.main-footer {
	margin-top: 10px;
	padding: .5em;
}

.inner-footer a {
	padding: 10px 15px;
	text-transform: uppercase;
	color: #0a0a0a;
	font-size: .85em;
}
.main-footer a:hover {
	color: #9c9c9c;
}

/* =================================
  Slide Show
==================================== */
.mySlides {display: none}
img {
	max-width: 100%;

	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;

  width: auto;
  margin-top: -60px;
  padding: 16px;

  cursor: pointer;
  transition: 0.6s ease;

  color: black;
  border-radius: 3px;

  font-size: 18px;
  font-weight: bold;
}

/* Position the "next button" to the right */
.next {
  right: -15px;
}
.prev {
	left: -15px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(101, 101, 101, 0.5);
	color: white;
}

/* Caption text */
.text {
	width: 100%;
  text-align: center;
  font-size: .9em;
}

/* The dots/bullets/indicators */
.dot {
  display: inline-block;

  width: 10px;
  height: 10px;
  margin-top: 40px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px

  cursor: pointer;
  transition: background-color 0.6s ease;

  border-radius: 50%;
  background-color: #bbb;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
/* =================================
  Media Queries
==================================== */
@media (min-width: 600px) {
	.main-header {
		width: 90%;
		margin: 0 auto;
	}
	.dropdown-content {
	    position: absolute;
			left: 0;
	}
}

@media (min-width: 600px) {

	.main-header,
	.main-nav,
	.main-footer,
	.inner-footer {
		display: flex;
	}

	.main-header,
	.main-footer {
		align-items: center;
		flex-direction: column;
	}
	.container {
		flex-direction: row;
	}
}
@media (min-width: 1025px) {

	.name {
		font-size: 1.90em;
	}
	.dropbtn {
		font-size: 1.20em;
	}
	.dropdown-content {
	    position: absolute;
			left: 0;
}

@media (min-width: 1025px) {
	.main-header {
		width: 80%;
		margin: 0 auto;
	}
	.main-header,
	.main-nav,
	.dropdown {
		flex-direction: row;
		justify-content: space-between;
	}
	.container {
		flex-direction: row;
	}
	.inner-footer {
		flex-direction: row;
		justify-content: center;
	}
}
